<h2 style = 'color:red'>Welcome! I'll update it regularly with new tips and techniques as I learn them.</h2>

<h1 style="color:yellow;">Pandas Library Tutorial From Various Resources</h1>

In [ ]:
import pandas as pd

##### Anywhere inside parenthes in function hit shift+tab two times and it will show you briefly some arguments of this funtion and if three times it will show you with details

In [ ]:
# After clicking shitf +tap two times there is one paramter called (sep) which can help you determine the separator (delimter) in your dataset 
orders=pd.read_table('http://bit.ly/chiporders',sep = '\t')

In [ ]:
locc = orders[(orders["order_id"]==1) & (orders["quantity"]==1)][["order_id","quantity"]]
locc.head()

In [ ]:
# Another way to show some columns from the dataset you write your conditions on the left and matrix of wanted columns on the right using (loc) function
# This is made when you don't have any condition to write
orders.loc[:,["order_id","quantity"]]

# The difference between iloc and loc is that the iloc use indices instead of lables used in loc we put the index of wanted columns

orders.iloc[:,1:3]

<h3 style="color:yellow;">How to Count Non Null Values In Each Column</h3>

In [ ]:
print(orders.shape,end='\n\n\n')
print(orders.notna().sum(),end = '\n\n\n')

"""
Check for all null values in all columns in dataset
"""
print(orders.shape[0] - orders.notna().sum())

In [ ]:
# We can put any number of rows we want inside parenthes
orders.head(3)

In [ ]:
orders.head(10)

In [ ]:
# last five rows from our dataset
orders.tail(6)

<h3 style="color:yellow;">Fetching Columns</h3>

In [ ]:
""" Dot Operator Doesn't Support To Fetch Column With Space in It's Name So Then We Use Square Brackets """
id = orders.quantity
id = orders["order_id"]
id.head()

In [ ]:
"to print more than one column using pandas we put all wanted columns in one matrix"
id_and_quantity = orders[["order_id","quantity","item_name"]]
id_and_quantity.head()

In [ ]:
quantity = orders.quantity
quantity.head()

In [ ]:
"""to know the number of columns and rows in dataset"""
orders.shape

<h3 style="color:yellow;">Creating Headers Using External Array</h3>

In [ ]:
listt = ['user_id', 'age', 'gender','occupation','zipcode']
users = pd.read_table('http://bit.ly/movieusers', sep='|',header = None, names = listt)
users.head()

<h3 style="color:yellow;">How to Filter Data With Pandas</h3>

In [ ]:
age = users["age"]
age.head()
age2 = users[users["age"]>24]
# print(age2.head())
age4 = users.loc[users["age"]>60,["age","gender"]]
age4 = users[users["age"]>60][["age","gender"]]
age3 = users[(users["age"]>60) & (users["gender"]=="M")][["age","gender"]]
age4.head()

In [ ]:
# It Will Give You All Numbers In the Range From 30 to 60
age = users[users["age"].between(30, 60)]
# It Will Give You Two Discrete Numbers 30 And 60
age = users[users["age"].isin([60,30])]
age.head()

In [ ]:
age = users[(users["age"]==60) | (users["age"]==30)]
age.head(5)

In [ ]:
"""
Return All Values That Is Not Null
"""
age = users[users["age"].notna()]
age.head()
print(age.shape,end = ' ')
print(users.shape)

In [ ]:
"""loc is easy to use as you put all conditions before comma and all columns after comma"""
age = users.loc[(users["age"]>35) & (users["gender"]=="M"),["age","gender"]]
age.head()

<h3 style="color:yellow;">Using (iloc), Takes only the index of wanted column not the Label</h3>

In [ ]:
"""iloc to specify number of rows and columns you want to show"""
age = users
age.iloc[1:7,1:5]

In [ ]:
# when you need to the number of columns and all rows you should do this
orders.iloc[:,0:3]

In [ ]:
"""you can use it to assign value to specific number of rows and columns"""
age.iloc[0:2,1]=100
age.head()

In [ ]:
lis = ['Bedo','Nasser','Atta','Ibrahim']
order = pd.read_table('http://bit.ly/movieusers',sep = '|', header = None, names = lis)
order.head()

In [ ]:
""" when you make names less than number of columns then it will show you the same number of names not all table as it appears in this cell compared to above """
lis = ['Bedo','Nasser','Atta','Ibrahim','Kamil']
order = pd.read_table('http://bit.ly/movieusers',sep = '|', header = None, names = lis)
order.head()

<h3 style="color:yellow;">Some Describtive Statistics</h3>

In [ ]:
"""
it can provide you with some descriptive statistics about all numeric columns in your table

count here is number of not null values
"""
#orders.describe()
"""
this is for only columns with object type

and top here is the most frequent data and freq is their frequencies
"""
# This line will show you summary statistics about your dataframe columns but only for columns with object data type not all data types
orders.describe(include = "object")

# This will show you summary statistics about this column only
orders["item_price"].describe(include=["object"])

<h3 style="color:yellow;">Functions VS Attributes</h3>

In [ ]:
""" 
dtypes here is called attribute not function as function always needs parenthes for call
"""
orders.dtypes

In [ ]:
type(order)

In [ ]:
"""age.columns"""
orders.columns

<h3 style="color:yellow;">Renaming Columns</h3>

In [ ]:
age.columns
age.rename(columns={"user_id":"userid"},inplace= True)
age.columns

In [ ]:
col_names = ["id","agee","gendere","occ","zip"]
users = pd.read_table('http://bit.ly/movieusers',sep="|")
age=users
""" Rename all column names in dataset """
age.columns = col_names
age.columns

In [ ]:
"""the only way to overwrite the change you made on column names is by reading data again"""

"""you can see that header of the table can be determined to be index of specifiec row"""
users = pd.read_table('http://bit.ly/movieusers',sep="|",header=3)
age = users
users.head()

<h3 style="color:yellow;">Replacing Characters</h3>

In [ ]:
"""
this funtion goes through all column names and replace each M with _
"""
age.columns.str.replace('M','_')

# We can use it on specific column like:
age["technician"].str.replace('M','')

# Also we can use it many times to replace more than one character like:
age["technician"].str.replace('M','').str.replace(" ","")

In [ ]:
import pandas as pd

deleterows = pd.read_table('http://bit.ly/uforeports',sep=',')
deleterows.head()

<h3 style="color:yellow;"> Droping Rows or Columns</h3>

In [ ]:
# axis 0 refers to rows
# axis 1 refers to columns
deleterows.drop('City',axis=1,inplace = True)
deleterows.head()

In [ ]:
deleterows.drop(['Shape Reported','State'],axis = 1, inplace = True)
deleterows.head()
# Drop all null values in the dataframe
deleterows.dropna(inplace = True)

In [ ]:
# How to delete rows
# Drop without inplace = True returns all dataframe without what you dropped and you should store result in new var
deleterows.drop([0,1],axis=0,inplace=True)
deleterows.head()

#### Sorting a dataset doesnot affect actual dataset it is only view

In [ ]:
pd.__version__

In [ ]:
type(deleterows['Time'])

#### sorting by this way shows you only column you sort by and returns Series not dataframe

In [ ]:
deleterows['Time'].sort_values(ascending=False)

#### sorting by this way returns all dataframe sorted by speceific columns desc, asc

In [ ]:
deleterows.sort_values(['Time','Colors Reported'],ascending=[False,True])

In [ ]:
import pandas as pd
df = pd.read_csv('http://bit.ly/imdbratings')
df.head(10)

<h3 style = "color:yellow">Filtering your dataframe based on specific column</h3>

In [ ]:
df[df['star_rating']>=9.0].head()
#  Only for titles have rating more than 9

In [ ]:
#  The best way with loc
df.loc[df['star_rating']>=9.0,'title'].head()

In [ ]:
df[(df['star_rating']>=9.0) & (df['duration']==142)]

In [ ]:
# Not good for using
df[(df['genre']=='Drama')|(df['genre']=='Action')|(df['genre']=='Crime')].head()

In [ ]:
#  The best way
df[df['genre'].isin(['Action','Drama','Crime'])].head()

<h3 style = "color:yellow;"> Limiting the number of rows and columns to be read</h3>

In [ ]:

ufo = pd.read_csv('http://bit.ly/uforeports',usecols = ["State","Time"],nrows=7)
ufo = pd.read_csv('http://bit.ly/uforeports',usecols = [0,1,2,3,4],nrows=7)
ufo.head()

<h3 style =  "color:yellow">Iterating columns</h3>

In [ ]:
for i in ufo.City:
    print(i)

In [ ]:
for i,j in ufo.iterrows():
    print(i,j.City,j["Shape Reported"],j.Time)

In [ ]:
for i,j in ufo[["City","Shape Reported","Time"]].iterrows():
    print(i,j.City,j["Shape Reported"],j.Time)

<h3 style = "color:yellow">Drop All Non Numeric Columns</h3>

In [ ]:
# Select only numeric columns
numeric_ufo = ufo.select_dtypes(include = 'number')
numeric_columns = df.select_dtypes(include='number')
# Drop non-numeric columns
ufo.drop(columns=ufo.columns.difference(numeric_ufo.columns),inplace = True)
ufo.head()

In [ ]:
"""
Describe method by default describes only numeric columns 
"""
df.describe()

In [ ]:
"""
Describes all columns
"""
df.describe(include='all')

<h3 style = "color:yellow">Finding Mean</h3>

In [ ]:
# It will give error because there are some non numeric columns
#df.mean()
num_df = df.select_dtypes(include='number')
df.drop(df.columns.difference(num_df.columns),axis = 1,inplace=True)
df.mean()

In [ ]:
df["star_rating"].mean()

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.drop("Colors Reported",axis = 1,inplace = True)
ufo.head()

In [ ]:
ufo.dropna(inplace = True)
# It will give you error when you caompere null values with any value so first we should drop nulls
ufo[ufo.City.str.contains('Ithaca')]

<h3 style = "color:yellow">Changing Columns Data Types</h3>

In [ ]:
drinks  = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
drinks.dtypes

In [ ]:
drinks['beer_servings'] = drinks['beer_servings'].astype('float')
drinks.dtypes

In [ ]:
# We can Change the data type of columns during the reading process
drinks = pd.read_csv('http://bit.ly/drinksbycountry',dtype={'beer_servings':float})
drinks.head()

In [ ]:
# We Can Cast The Output of This Instead of Boalean It becomes Int 
ufo.City.str.contains('Ithaca').astype(int)

<h3 style = 'color:yellow'>Group by in Pandas</h3>

In [ ]:
drinks.groupby('continent')['beer_servings'].sum()

In [ ]:
drinks.groupby(['continent', 'country'])['beer_servings'].mean()

In [ ]:
drinks.head()
drinks[drinks['country']=='Egypt'].head()

In [ ]:
drinks.groupby('continent')['beer_servings'].agg(['sum','count','min','max'])

In [ ]:
# when you try to aggregate with function that must need numeric data type write int inside the parenthes to avoid error
drinks.groupby('continent').mean('int')

In [ ]:
%matplotlib inline
drinks.groupby('continent').mean('int').plot(kind = 'bar')

In [ ]:

movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

<h3 style = 'color:yellow'>Explroing Data in Pandas</h3>

In [ ]:
movies.describe()
movies.genre.describe()

In [ ]:
movies.genre.value_counts()
# we can use .head() to show the top five

In [ ]:
movies.genre.value_counts(normalize = True)

In [ ]:
movies.genre.unique()

In [ ]:
# Print The Number of unique values in the series
movies.genre.nunique()

In [ ]:
pd.crosstab(movies.genre,movies.content_rating)

In [ ]:
%matplotlib inline
movies.genre.value_counts().plot(kind = 'bar')

<h3 style  = 'color:yellow'>Handling Missing Values</h3>

In [ ]:
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.notna().tail()

In [ ]:
ufo['Shape Reported'].isnull()

In [ ]:
ufo.isnull().sum()
ufo['Colors Reported'].isnull().sum()

In [ ]:
ufo[ufo.City.isnull()].head()

In [ ]:
# dropna can take parameter how to be 'all' or 'any' and subset to take the name of column or list of columns names
ufo.dropna(how = 'any').shape
ufo.dropna(subset='City').shape
ufo.dropna(subset=['City','Shape Reported']).shape
#drop if all subset values are null and you can adjust it to be any
ufo.dropna(subset=['City','Shape Reported'],how = 'all').shape
ufo.shape

In [ ]:
ufo['Shape Reported'].value_counts(dropna = False).head()

In [ ]:
# Replacing all null values
ufo['Shape Reported'].fillna(value = 'Unknown').value_counts()

In [ ]:
# If the dataset is small it will print you all indices from 1 to n
ufo.index

In [ ]:
ufo.columns

<h3 style ="color : yellow">Pandas Index</h3>

In [ ]:
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
drinks.loc[0,['country','beer_servings']]

In [ ]:
drinks.loc[0,['country']]

In [ ]:
drinks.set_index('country',inplace = True)
drinks.head()

In [ ]:
drinks.loc['Brazil','beer_servings']

In [ ]:
# To remove the blank row in the top of dataset we make name = None
drinks.index.name = None
drinks.head()

In [ ]:
# To undo everything 
#drinks.reset_index(inplace = True)
drinks.head()
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
#drinks.set_index('country',inplace = True)
drinks.set_index('country',inplace = True)
drinks.index.name = None
drinks.index.name = 'country'
drinks.reset_index(inplace = True)
drinks.head()

In [ ]:
drinks.describe()

In [ ]:
drinks.describe().loc['25%','beer_servings']

In [ ]:
#drinks.set_index('country',inplace = True)
"""
All columns now when you print any of them it will be attached with the country column as it is the index column now
"""
drinks.continent.head()

In [ ]:
# The return is dict with key and values so we can use one of them 
drinks.continent.value_counts().values
drinks.continent.value_counts().keys

In [ ]:
drinks.continent.value_counts()['Africa']

In [ ]:
#drinks.set_index('country',inplace = True)
drinks.head()
drinks.continent.value_counts()['Africa']

In [ ]:
drinks.sort_values(['continent','country']).head()

In [ ]:
drinks.sort_index().head()

In [ ]:
people = pd.Series([30000,85000],index = ['Albania','Andorra'],name='population')
(drinks.beer_servings * people).head()

In [ ]:
pd.concat([drinks,people],axis =1)

In [ ]:
# if you used loc instead of iloc it will give error because there is no numbers in rows label we used country as index so we should use iloc if we want to pass numbers
(drinks.loc[drinks['beer_servings']>200,'wine_servings':'continent']).iloc[2:5]

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry',index_col='country')
drinks.head()

In [ ]:
drinks.ffill().head()

In [ ]:
drinks.bfill().head()

<h3 style = 'color:yellow'>Making DataFrames Smaller and Faster</h3>

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.info(memory_usage = 'deep')

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks['continent'] = drinks.continent.astype('category')
drinks.memory_usage(deep=True)
# You shouldn't use category when your values in the column are ditinct like country 
# Memory Usage now is 12720 which is greater than 12588
drinks.country.astype('object').memory_usage(deep=True)
#drinks.memory_usage(deep=True)

In [ ]:
# Look at dublicated values
drinks.continent.cat.codes.head()

In [ ]:
drinks.country.astype('category').cat.categories

In [ ]:
drinks.continent.astype('category').cat.categories

<h3 style = 'color:yellow'>Logical Sorting</h3>

In [ ]:
df = pd.DataFrame({'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']})
df

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'quality' is the column you want to convert to a categorical column
df['quality'] = pd.Categorical(df['quality'], categories=['good', 'very good', 'excellent'], ordered=True)

# Now 'quality' column is categorical with specified categories and order
df.sort_values('quality')

In [ ]:
df[df['quality']>'good']

In [ ]:
'python'[0:4]